{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>صفحه یافت نشد</title>
  <link rel="stylesheet" href="{% static '404.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
</header>

<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->


<div class="lamp__wrap">
  <div class="lamp">
    <div class="cable"></div>
    <div class="cover"></div>
    <div class="in-cover">
      <div class="bulb"></div>
    </div>
    <div class="light"></div>
  </div>
</div>
<!-- END Lamp -->
<section class="error">
  <!-- Content -->
  <div class="error__content">
    <div class="error__message message">
      <h3 class="message__title"><a href="{% url 'home' %}" style="color: brown;"><b>خانه</b></a></h3>
      <h1 class="message__title">صفحه مورد نظر یافت نشد</h1>
      <p class="message__text">صفحه ای که دنبال آن هستید  در این وبسایت یافت نشد . آدرس صفحه مورد نظر را بررسی و دوباره تلاش کنید و یا با پشتیبانی سایت تماس بگیرید</p>
    </div>
  </div>
  <!-- END Content -->

</section>

  </a>
<!-- partial -->
  
</body>
</html>
