{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>در انتظار تکمیل درخواست</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{% static '408.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<h1 aria-label="408 Error">4<span></span>8</h1>
<h2>.سرور در انتظار تکمیل درخواست کاربر است اما هیچ پاسخی در زمان استاندارد دریافت نمی شود</h2>
<!-- partial -->
  <script>
    if (navigator.platform.match(/(Mac|iPhone|iPod|iPad)/i)) document.body.classList.add('apple-os');
  </script>

</body>
</html>
