{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>خطای داخلی سرور رخ داد</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link href="{% static '500.css' %}" rel="stylesheet">
</head>
<body>
<!-- partial:index.partial.html -->
<h5>   ):  خطای داخلی سرور</h5>
    <h1>5</h1>
    <h1>00</h1>
    <div class="box">
			<span></span><span></span>
			<span></span><span></span>
			<span></span>
		</div>
    <div class="box">
			<span></span><span></span>
			<span></span><span></span>
			<span></span>
		</div>
    <p> به دلیل نقص تنظیمات یا انجام به روزرسانی نرم افزاری یا سخت افزاری خطای داخلی سرور رخ داده است.
			.ما در تلاش هستیم تا این مشکل را برطرف کنیم</p>
<!-- partial -->
  
</body>
</html>
